[user]
    name = Arturo Avila
    email = avilapriegoa@gmail.com

[includeIf "gitdir:~/documents/development/work/"]
    path = .gitconfig-work
[includeIf "gitdir:~/Documents/development/work/"]
    path = .gitconfig-work

[init]
    defaultBranch = main
[alias]
	adog = log --all --decorate --oneline --graph
	adogs = log --all --decorate --oneline --graph --stat

[core]
	editor = nvim
